<aside id="sidebar" class="four columns">
  <nav id="sidebar-menu">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/developer">Summary</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><a href="/developer/overview/organization/">Organization</a></li>
        </ul>
      </li>

      <li class='js-topic'>
        <h3><a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a><a href="/developer/core">Core</a></h3>
        <ul class="js-guides">
          <li><i class="icon-right-dir"></i><a href="/developer/core/models/adjustment">Adjustments</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/models/line_item">Line Items</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/models/order">Orders</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/models/price">Prices</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/models/product">Products</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/models/product_property">Product Properties</a></li>
          <li><i class="icon-right-dir"></i><a href="/developer/core/models/variant">Variants</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
